<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.marondal.spring.ex.jsp.repository.UserRepository">

	<insert id="insertUser" parameterType="map">
		INSERT INTO
			`new_user`
		(
			`name`
			, `yyyymmdd`
			, `email`
		)
		VALUES
		(
			#{name}
			, #{birthday}
			, #{email}
		
		)
	
	</insert>
	
	<select id="selectLastUser" resultType="com.marondal.spring.ex.jsp.domain.User">
	
		SELECT
			`id` 
			, `name`
			, `yyyymmdd`
			, `email`
			, `introduce`
			, `createdAt`
			, `updatedAt`
		FROM
			`new_user`
		ORDER BY 
			`id` DESC
		LIMIT
			1
	
	</select>

	<insert id="insertUserByObject" 
	parameterType="com.marondal.spring.ex.jsp.domain.User"
	useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
			`new_user`
		(
			`name`
			, `yyyymmdd`
			, `email`
		)
		VALUES
		(
			#{name}
			, #{yyyymmdd}
			, #{email}
		
		)
		 
	</insert>
	
	<select id="selectUserList" resultType="com.marondal.spring.ex.jsp.domain.User">
		SELECT
			`id` 
			, `name`
			, `yyyymmdd`
			, `email`
			, `introduce`
			, `createdAt`
			, `updatedAt`
		FROM
			`new_user`	
	</select>

	<select id="selectCountEmail" parameterType="String"
	resultType="int">
		SELECT
			count(1)
		FROM
			`new_user`
		WHERE
			`email` = #{email}
		
	</select>

</mapper>
